<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <style type="text/css">
        html {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        table, tr, td {
            border: 1px solid "#dddddd";
            border-collapse: collapse;
            font-size: 12px;
        }

        th {
            background-color: #ddd !important;
        }

        th, td {
            padding: 15px;
        }
    </style>

</head>
<body style="padding: 0px; margin: 0px;">
    <div>
        <div style="background:#E5E5E5; padding-left:40px; padding-top:10px; padding-bottom:10px;">
            <font face="Arial, Helvetica, sans-serif" color="#444444" style="font-size: 18px;">
                Назначение аттестации для сотрудников
            </font>
        </div>
        <br />
        <div style="font-size: 14px; padding-left:40px; color:#444444; font-family: Arial, Helvetica, sans-serif; max-width:1200px;">
            <p>Здравствуйте, это автоматическое уведомление Системы. Пожалуйста, не отвечайте на это письмо.</p>
            <p>В системе была зарегистрирована новая аттестация, и Вам назначена задача по подтверждению участников данной аттестации.</p>
            <p>Вам необходимо подтвердить в назначенное время присутствие и готовность участников к сдаче аттестации.</p>
            <br />
            <a href="{RequestUrl}">Перейти на страницу аттестации.</a>
            <br />
            <p>Название аттестации:<span><b>{AttestationName}</b></span></p>
            <p>Создатель аттестации:<span><b>{Creator}</b></span></p>
            <p>Дата начала аттестации:<span><b>{StartTime}</b></span></p>
            <p>Дата окончания аттестации:<span><b>{FinishTime}</b></span></p>
            <p>Статус аттестации:<span><b>{Status}</b></span></p>
            <p>Количество участников:<span><b>{Count}</b></span></p>
        </div>
        <div>
            <br />
            <h3 style="font-size: 14px; padding-left: 40px; color: #57697e; font-family: Arial, Helvetica, sans-serif;">Список участников</h3>
            <div style="font-size: 14px; padding-left: 40px; color: #57697e; font-family: Arial, Helvetica, sans-serif; max-width: 1200px;">
              
            </div>
        </div>
</body>
</html>
