<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <style type="text/css">
        html {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            font-family: "Arial, Helvetica, sans-serif";
        }

        table, tr, td {
            border: 1px solid "#dddddd";
            border-collapse: collapse;
            font-size: 12px;
        }

        th {
            background-color: #ddd !important;
        }

        th, td {
            padding: 15px;
        }
    </style>
</head>
<body style="padding: 0px; margin: 0px;">
    <div>
        <div style="background: #F1F1F1; padding-left: 40px; padding-top: 10px; padding-bottom: 10px;">
            <font face="Arial, Helvetica, sans-serif" color="#ff0000" style="font-size: 18px;">&nbsp;</font>
        </div>
        <div style="background:#E5E5E5; padding-left:40px; padding-top:10px; padding-bottom:10px;">
            <font face="Arial, Helvetica, sans-serif" color="#444444" style="font-size: 18px;">
                Назначение аттестации
            </font>
        </div>
        <br />
        <div style="font-size: 14px; padding-left:40px; color:#444444; font-family: Arial, Helvetica, sans-serif; max-width:1200px;">
            <p>Здравствуйте, это автоматическое уведомление Системы. Пожалуйста, не отвечайте на это письмо.</p>
            <p>Вам назначена аттестация, и Вам необходимо ее сдать в назначенный срок.</p>
            <div style="font-size: 14px; padding-left: 40px; color: #57697e; font-family: Arial, Helvetica, sans-serif; max-width: 1200px;">
                <table style="border-collapse: collapse; border: 1px solid #ddd; width: 100%">
                    <thead>
                        <tr>
                            <th style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">Название Аттестации</font></th>
                            <th style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">Дата начала аттестации</font></th>
                            <th style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">Дата окнчания аттестации</font></th>
                            <th style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">Уровень</font></th>
                            <th style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">Линейный руководитель</font></th>
                            <th style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">Статус аттестации</font></th>


                        </tr>
                        <tr style="text-align: center; border-bottom: 0 none; border-top: 0 none; border-left-width: 0;">
                            <td style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">{AttestationName}</font></td>
                            <td style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">{StartDate}</font></td>
                            <td style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">{FinishDate}</font></td>
                            <td style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">{Level}</font></td>
                            <td style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">{LMUser}</font></td>
                            <td style="padding: 10px;"><font face="Arial, Helvetica, sans-serif">{Status}</font></td>
                        </tr>
                </table>
                <br />
                <br />
                <a href="{RequestUrl}">Перейти на сайт аттестации</a>
            </div>
        </div>
    </div>
</body>
</html>